*{
    font-family: 'Poppins', sans-serif;
}
body{
    padding: 0%;
    margin: 0%;
width: 100%;
background-color: rgb(225, 224, 224);
}
/* DIV */
#navbar{
/* border: 1px solid red; */
background-color: white;
box-sizing: border-box;
padding-left: 15px;
padding-right: 20px;
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
height: 60px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#navbar_logo{
/* border: 1px solid black; */
width: 160px;


}
#navbar_logo img{
   width: 100%;
   height: 50px;
}
    
#navbar_anch{
/* border: 1px solid black; */
margin-left: -50px;
display: flex;
gap: 20px;   
}
#navbar_lnsp{
/* border: 1px solid black; */
display: flex;
gap: 10px;
word-spacing: 10px;   
}
#navbar_cart{
/* border: 1px solid black; */
display: flex;
gap: 15px;  
}
/* ANCHOR TAGS */
#navbar a{
    text-decoration: none;
    color: rgb(25, 23, 23);
    word-spacing: 2px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
}
#navbar span{
    color: white;
    background-color: #ff6f61;
    box-sizing: border-box;
    padding: 5px;
    font-size: 8px;
    border-radius: 5px;
    margin-left: -5px;
}
#navbar a:hover{
    color: #ff6f61;
}
#navbar_anch a:nth-child(1){
    color: #ff6f61;

}
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* navbar 2  */
#navbar2{
    display: flex;
    background-color: white;
    justify-content: space-around;
    /* border: 1px solid red; */
    height: 60px;
    box-sizing: border-box;
    margin-top: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
/* navbar 2 both div */
#navbar2 div{
    display: flex;
    /* border: 1px solid black; */
    gap: 20px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
/* div 1 */
/* navbar location */
#navbar2 select{
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
/* navbar search */
#navbar2_inp input{
    width: 400px;
    height: 38px;
    text-align: center;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   


    
}
/* location & seacrch icon */
#navbar2_inp #location{
    position: absolute;
    left: 8%;
}
#navbar2_inp #search{
    position: absolute;
    left: 47%;
} 

/* div 2 */
#navbar2_h3btn button{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #ff6f61;
    color: aliceblue;
    font-size: 15px;
    font-weight: 700;

}
#navbar2_h3btn button:hover{
    background-color: black;
}
/* /////////////////////////////////////////////////////////////////// */



/* dorp down */
#menu{
/* border: 1px solid red; */
width: 100%;
height: 30px;
margin-top: 2px;
display: flex;
/* align-items: center; */
justify-content: center;
background-color: white;
}
#menu a:hover{
    color: #ff6f61;

}
#menu > ul{
    background: white;
    
}
#menu ul{
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}
#menu ul a{
    color: black;
    text-decoration: none;
    font-size: 13px;
    line-height: 32px;
    padding: 0 15px;
    font-weight: 500;
    display: block;
}
#menu ul li{
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
}
#menu ul li:hover{
    color: #ff6f61;
}
#menu ul ul{
    position: absolute;
    background:white;
    top: 100%;
    left: 0;
    display: none;
}
#menu ul ul li{
    float: none;
    width: 220px;
}
#menu ul ul li:hover{
    border-left: 3px solid black;
}
#menu ul ul ul{
    left: 100%;
    top: 0 ;

}
#menu ul li:hover > ul{
    display: block;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* slideshow csss */
#section_ss{
    /* border: 1px solid red; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,70px);
}
#section_ss div:nth-child(1){
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end:4 ;
/* border: 1px solid red; */

}
#section_ss div:nth-child(2){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:1 ;
    grid-row-end: 4;
    /* border: 1px solid red; */

}
#section_ss div:nth-child(3){
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 14px;
    background-color: white;
    

}
#section_ss img{
    width: 100%;
    height: 100%;
}
/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* popup cssss////////////////////////////////////////// */
#pop{
    
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#pop h1{
    font-weight: bold;
    margin-bottom: 20px;
}
#pop p{
    line-height: 1.5em;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 500ms;
    opacity: 0;
    visibility: hidden;
}
.overlay:target{
    opacity: 1;
    visibility: visible;
}
.wrapper{
    position: relative;
    width: 70%;
    min-height: 500px;
    display: flex;
}
.multiply{
    position: absolute;
    right: 10px;
    top: 0;
    color: #dd3e42;
    transition: all 200ms;
    
    
}
.column{
    width: 50%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.details{
    background: #ff6f61;

}
.details h1{
    color: #10213e;
}
.signin, .signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pop input{
    background: #eee;
    border: none;
    padding: 12px 15px;
    border: 2px;
    margin: 8px 0;
    width: 100%;
    font-family: inherit;
    color: #0d3e6a;
    font-size: inherit;

}

#pop input:focus{
    outline-color: #0d3e6a;
}
#pop a{
    color: #10213e;
    text-decoration: none;
    font-size: 14px;
    margin: 15px 0;
}
.form-submit{
    
    border: none;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
}
.form-submit:hover{
    background: #071835;
    transform: scale(1.1);
}
#pop input[type="submit"] {
    background-color: #071835;
    color: white;
    width: 120px;
    margin-left: 37%;
}
.signup .form-submit{
    margin-top: 15px;
}
#signin, #signup{
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #10213e;
    font-weight: bold;
    cursor: pointer;
}
#pop span{
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5em;
}
.content{
    background:white;
    color: black;
    text-align: center;
}
/* //////////////////////////////////////////////////////// */
    /* FOOTER CSSSS */
    /* part 1 */
    #paragraph{
        /* border: 2px solid red; */
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
        line-height: 30px;
        font-size: 15px;
        margin-top: 1px;
        background-color: white;
    }
    #paragraph h3{
        font-size: 21px;

    }
    #paragraph h5{
        font-size: 17px;

    }
    #paragraph p{
        color: rgb(64, 64, 64);
    }
    /* paart 2 */
    #footer1{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,100px);
        background-color: white;
        margin-top: 1px;
        text-align: center;
        align-items: center;
        letter-spacing: 2px;
        
    }
    #footer1 div:nth-child(1){
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end:2 ;
    }
    #footer1 div:nth-child(2){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #footer1 div:nth-child(3){
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #footer1 div:nth-child(4){
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    /* part    3///// */
    #footer2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-top: 1px;
        height: 80px;
        background-color: white;
        box-sizing: border-box;
        letter-spacing: 1px;
       

    }
    #footer2 h2{
        
    }
    #footer2 input{
        height: 35px;
        width: 25%;
        padding-left: 8%;
        border: none;
        border-radius: 5px;
        background-color: rgba(128, 128, 128, 0.199);
        letter-spacing: 1px;
    }
    #footer2 button{
        height: 35px;
        width: 10%;
        border: none;
        background-color: #ff6f61;
        border-radius: 5px;
        color: white;
    }
    #footer3{
        display: flex;
        width: 100%;
        box-sizing: border-box;
        justify-content: space-between;
        padding: 50px;
        line-height: 25px;
        background-color: white;
        margin-top: 1px;
        
    }
    #footer3 > div{
        text-align: start;
        /* border: 1px solid green; */
        display: flex;
        flex-direction: column;
        
    }
    
    #footer3 ul{
        text-align: start;
        list-style: none;
        color:rgb(88, 88, 88) ;
    }
    #footer3 p{
        color:rgb(88, 88, 88) ;
    }
    #footer3 h3{
        margin-left: 12%;
    }
    #footer3 button{
        height: 35px;
        width: 40%;
        border: none;
        background-color: #ff6f61;
        border-radius: 5px;
        color: white;
    }

    /* /////////////////////////////////////////////////////////////////////////////////////// */
    /* sliding */
    .parent{
        display: flex;
        justify-content: center;
        height: fit-content;
        align-items: center;
        width:100%;
        /* margin: auto; */
        margin-top: -40px;
        /* border: 2px solid green; */
        background-color: white;
        gap: 2px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        box-sizing: border-box;
        
      }
      .parent-1{
        width:100%;
        /* border: 1px solid red; */
        height: 410px;
        margin: auto;
        margin-top: 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        box-sizing: border-box;
    }
      .parent-1>p{
        padding-left: 20px;
        font-size: 20px;
        padding-top: 5px;
        align-items: center;
      }
      .child{
        width:20%;
        /* border: 2px solid red; */
        /* margin-left: 10px;
        margin-right: 10px; */
        height:100%;
        margin-top: 0px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        /* background-color: rgb(241, 240, 240); */
        display: none;
        padding-top: 0;
        box-sizing: border-box;
        padding: 15px;
        border-radius: 4px;
       
        
      }
      .child:hover{
        /* border: 2px solid #ff6f61; */
        cursor: pointer;
        transform: scale(1.01);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
      }
      .title_product{
        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .child p{
        margin-top: -5px; 
        padding-left: 15px;
        
        /* overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; */
        
      }
      #same{
        padding-left: 50px;
        color: #047511;
      }
      .child p:nth-child(2)
      {
        /* margin-top: 0px; */
        line-height: 5px;
      }
      .child img{
        width:90%;
        height:180px;
        
        
        /* background-color: rgb(241, 240, 240); */
      }
      .child button{
        margin-left: 15px;
        background-color: aliceblue;
        color: #fb4646;
        border:1px solid  #ee3535;
        cursor: pointer;
      }
      #leftarrow{
        margin-left: 12px;
        width: 3%;
        display: inline-block;
      }
      #rightarrow{
        margin-right: 12px;
        width:3%;
        display: inline-block;
      }
    
      #leftarrow button, #rightarrow button{
        /* font-weight: bold; */
        cursor: pointer;
        font-size: 35px;
        margin-top: 35px;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border:1px solid #ff6f61;
        color: #ff6f61;
        opacity: 1;
        background-color: white;
        
      }
      
      #leftarrow button{
        margin-left:-40px;
      }
      #right_arrow_btn:hover{
        transform: scale(1.1);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      }
      #left_arrow_btn:hover{
        transform: scale(1.1);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      }
/* /////////////////////////////////////////////////////////////////////// */
/* bar css */
#bar{
width: 100%;
height: 250px;
background-color: white;
box-sizing: border-box;
padding: 30px 100px 30px 100px;
margin-top: 1px;

}
#bar img{
width: 100%;
height: 100%;
}
/* /////////////////////////////////////////////////////////////////// */
#cat1{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    background-color: white;
    height: fit-content;
    margin-top: 1px;
    /* border: 1px solid black; */
    box-sizing: border-box;
    gap: 1px;
    

}
#cat1 div{
    /* border: 1px solid red; */
 display: flex;
 flex-direction: column;
 box-sizing: border-box;
 width: 100%;
 height: 100%;
 padding: 40px 60px;
 text-align: center;
 font-size: 13px;
 box-sizing: border-box;
 border-radius: 5px;

 

}
#cat1 div:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transform: scale(1.01);
}
#cat1 img{
    width: 100%;
}
#cat1 a{
    text-decoration: none;
    color: black;
    margin-top: 5px;
}
#cat1 a:hover{
    color: #ff6f61;
    transform: scale(1.1);
}
@media only screen and (max-width: 400px) {
    .wrapper{
        width: 80%;
        flex-direction: column-reverse;
    }
    .column{
        width: 100%;
    }
    .close{
        top: 0;
        right: 10px;
        margin: 0;
    }
}